// .modal-frame {
//   .close {
//     position: absolute;
//     top: 10px;
//     font-size: 16px;
//     right: 5px;
//     color: #999;
//     cursor: pointer;
//     background: none;
//     border: none;
//   }

//   .btn {
//     border-radius: 2px;
//     border: none;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     outline: 0;
//     margin-top: -15px;
//     margin: -15px auto 0 -100px;
//     cursor: pointer;
//     background: #4975a6;
//     text-decoration: none;
//     color: #fff;
//     font-size: 16px;
//     padding: 10px 5px;
//     text-align: center;
//     -webkit-transition: 0.15s ease-in-out;
//     -moz-transition: 0.15s ease-in-out;
//     -ms-transition: 0.15s ease-in-out;
//     -o-transition: 0.15s ease-in-out;
//     transition: 0.15s ease-in-out;
//     width: 200px;
//     display: block;
//     font-family: montserrat, arial, sans-serif;
//     overflow: hidden;
//   }

//   .btn:hover {
//     background: #5082b9;
//   }
// }
/**
   *	Custom Modal
   */

.pk-modal-frame {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  visibility: hidden;
}

.pk-modal-body {
  top: 3%;
  right: 20%;
  bottom: 3%;
  left: 20%;
  //   padding: 0 !important;
  //   width: 60%;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  //   left: 50%;
  //   margin-left: -250px;
  //   height: 100vh;
  //   margin-top: -200px;
  //   top: 50%;
  z-index: 100;
  .slider {
    height: 50%;
    min-height: 50%;
    max-height: 50%;
  }
  //   overflow: scroll;
  //   overflow-y: auto;
}

.pk-modal-inner {
  padding: 50px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transform: scale(0.5);
  -moz-transition: 0.2s ease-in-out;
  -ms-transform: scale(0.5);
  -ms-transition: 0.2s ease-in-out;
  -o-transform: scale(0.5);
  -o-transition: 0.2s ease-in-out;
  transform: scale(0.5);
  transition: 0.2s ease-in-out;
}
/**
   *  Modal overlay
  */

.pk-modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: #333;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -ms-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.pk-modal-inner {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

/**
   *  Enter states
   */

.pk-modal-frame.active {
  visibility: visible;
  height: inherit;
  display: block;
  //   overflow: hidden;
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
}

.pk-modal-frame.active .modal-body {
  -webkit-animation: popperIn 0.45s;
  -moz-animation: popperIn 0.45s;
  -ms-animation: popperIn 0.45s;
  -o-animation: popperIn 0.45s;
  animation: popperIn 0.45s;
}

@-webkit-keyframes popperIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes popperIn {
  0% {
    opacity: 0;
    -moz-transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }

  100% {
    -moz-transform: scale(1);
  }
}

@keyframes popperIn {
  0% {
    opacity: 0;
    transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes popperOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.05);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.15);
  }
}

@-moz-keyframes popperOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    -moz-transform: scale(1.05);
  }

  100% {
    opacity: 0;
    -moz-transform: scale(1.15);
  }
}

@keyframes popperOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    transform: scale(1.05);
  }

  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}

.pk-modal-frame.active .pk-modal-inner {
  opacity: 1;
  -webkit-transform: scale(1);
  -webkit-transition: 0.15s ease-in-out;
  -webkit-transition-delay: 0.13s;
  -moz-transform: scale(1);
  -moz-transition: 0.15s ease-in-out;
  -moz-transition-delay: 0.13s;
  -ms-transform: scale(1);
  -ms-transition: 0.15s ease-in-out;
  -ms-transition-delay: 0.13s;
  -o-transform: scale(1);
  -o-transition: 0.15s ease-in-out;
  -o-webkit-transition-delay: 0.13s;
  transform: scale(1);
  transition: 0.15s ease-in-out;
  transition-delay: 0.13s;
}

.pk-modal-frame.active .pk-modal-overlay {
  opacity: 0.5;
  visibility: visible;
  //   position: fixed;
  //   overflow: hidden;
}

/**
   *  Leave States
  */
.pk-modal-frame.leave .pk-modal-body {
  opacity: 0;
  -webkit-animation: popperOut 0.5s;
  -webkit-transition: 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -webkit-transform: scale(0.95);
  -moz-animation: popperOut 0.5s;
  -moz-transition: 0.3s ease-in-out;
  -moz-transition-delay: 0.2s;
  -moz-transform: scale(0.95);
  -ms-animation: popperOut 0.5s;
  -ms-transition: 0.3s ease-in-out;
  -ms-transition-delay: 0.2s;
  -ms-transform: scale(0.95);
  animation: popperOut 0.5s;
  transition: 0.3s ease-in-out;
  transition-delay: 0.2s;
  transform: scale(0.95);
}

.pk-modal-frame.leave .modal-inner {
  opacity: 0;
  -webkit-transform: scale(0.95);
  -webkit-transition: 0.15s ease-in-out;
  -moz-transform: scale(0.95);
  -moz-transition: 0.15s ease-in-out;
  -ms-transform: scale(0.95);
  -ms-transition: 0.15s ease-in-out;
  -o-transform: scale(0.95);
  -o-transition: 0.15s ease-in-out;
  transform: scale(0.95);
  transition: 0.15s ease-in-out;
}

.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 3;
  opacity: 0.4;
}
.middle-indicator-text {
  font-size: 4.2rem;
}
a.middle-indicator-text {
  color: white !important;
}
.content-indicator {
  width: 64px;
  height: 64px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.indicators {
  visibility: hidden;
}

.pk-modal-footer .container-fluid {
  text-align: left;
  .work-title {
    font-size: 2.2rem;
    margin-top: 12px;
  }
  .work-subtitle {
    font-size: 1.5rem;
    color: #777;
  }
  .work-explanation {
    border-top: 1px solid #cfcfcf;
    margin-top: 15px;
    font-size: 1.2rem;
    padding-top: 12px;
  }
}

.link-quit {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
}
