.pk-modal-frame {
  max-height: 95% !important;
  width: 55% !important;
}
.single-work.work {
  padding: 0px !important;
  margin-left: 0px !important;
  height: 18rem;
}
#not-related-images {
  color: crimson;
  text-align: center;
  font-size: 18px;
  margin-top: -4%;
  opacity: 0.8;
}
#no-link-reason {
  color: crimson;
  font-size: 12px;
}

@media screen and (min-width: 1440px) {
  .work-list.row {
    width: 56rem !important;
  }
  .single-work.work {
    height: 16.5rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .work-list-wrapper {
    margin: 0px !important;
  }
  .pk-modal-content {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    .work-title {
      padding-top: 3rem;
      font-size: x-large;
      font-weight: 800;
      opacity: 0.9;
    }
    .work-subtitle {
      padding-bottom: 1rem;
      font-size: larger;
      opacity: 0.6;
      font-weight: bolder;
    }
    .divider {
      margin-bottom: 1rem;
    }
    .work-explanation {
      font-size: small;
    }
  }
  .pk-modal-footer {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 1rem !important;
  }
}
.cta.no-link {
  pointer-events: none;
}

@media screen and (min-width: 1023px) {
  .pk-modal-content {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    .work-title {
      padding-top: 3rem;
      font-size: x-large;
      font-weight: 800;
      opacity: 0.9;
    }
    .work-subtitle {
      padding-bottom: 1rem;
      font-size: larger;
      opacity: 0.6;
      font-weight: bolder;
    }
    .divider {
      margin-bottom: 1rem;
    }
    .work-explanation {
      font-size: small;
    }
  }
  .pk-modal-footer {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 1rem !important;
  }
}
@media screen and (min-width: 900px) {
  .work-list.row {
    width: 53rem;
    margin-left: auto;
    margin-right: auto;
  }
  .single-work.work {
    height: 15.5rem;
  }
}

@media screen and (max-width: 768px) {
  .pk-modal-frame {
    width: 70% !important;
  }
  .single-work.work {
    height: 15rem !important;
  }
  .work-list-wrapper {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .pk-modal-frame {
    width: 70% !important;
    .pk-modal-content {
      padding-left: 6% !important;
      padding-right: 6% !important;
      // padding-top: 2rem !important;
      .work-title {
        padding-top: 2rem;
        font-size: x-large;
        font-weight: 800;
        opacity: 0.9;
      }
      .work-subtitle {
        padding-bottom: 1rem;
        font-size: larger;
        opacity: 0.6;
        font-weight: bolder;
      }
      .divider {
        margin-bottom: 1rem;
      }
      .work-explanation {
        font-size: small;
      }
    }
    .pk-modal-footer {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
      padding-top: 1rem !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .pk-modal-frame {
    width: 100% !important;
  }
  #not-related-images {
    margin-top: -6%;
  }
}

@media screen and (max-width: 425px) {
  #content-blog,
  #content-contact,
  #content-about,
  #content-portfolio {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    #content-blog-body {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      .single-post {
        padding: 0;
        .card-title {
          margin-top: 1rem;
        }
        .card-title,
        .card-date,
        .card-body {
          padding-left: 2rem !important;
          padding-right: 2rem !important;
        }
      }
    }
  }
  .single-work.work {
    height: 15rem !important;
  }
  .work-list-wrapper {
    margin: 0px !important;
  }

  #content-portfolio-body {
    padding: 2.5rem 0px !important;
  }
  #content-portfolio {
    .work-list-wrapper {
      padding: 0px !important;
    }
  }
  .pk-modal-content {
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
}
@media screen and (max-width: 375px) {
  .single-work.work {
    height: 16rem !important;
  }
  #content-portfolio-body {
    padding: 2.5rem 0rem !important;
  }
}
@media screen and (max-width: 320px) {
  .single-work.work {
    height: 14rem !important;
  }
}

.pk-modal-frame.open {
  -webkit-animation: popperIn 0.45s;
  -moz-animation: popperIn 0.45s;
  -ms-animation: popperIn 0.45s;
  -o-animation: popperIn 0.45s;
  animation: popperIn 0.45s;
  top: 0 !important;
  bottom: 0 !important;
}

@-webkit-keyframes popperIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes popperIn {
  0% {
    opacity: 0;
    -moz-transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }

  100% {
    -moz-transform: scale(1);
  }
}

@keyframes popperIn {
  0% {
    opacity: 0;
    transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes popperOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.05);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.15);
  }
}

@-moz-keyframes popperOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    -moz-transform: scale(1.05);
  }

  100% {
    opacity: 0;
    -moz-transform: scale(1.15);
  }
}

@keyframes popperOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    transform: scale(1.05);
  }

  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}

.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator {
  position: absolute;
  top: 43%;
  width: 100%;
  z-index: 3;
  .left {
    opacity: 0.6;
  }
  .right {
    opacity: 0.6;
  }
}
.middle-indicator-text {
  font-size: 4.2rem;
}
a.middle-indicator-text {
  color: black !important;
}
.content-indicator {
  width: 64px;
  height: 64px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.indicators {
  visibility: hidden;
}

.pk-modal-footer .container-fluid {
  text-align: left;
  .work-title {
    font-size: 2.2rem;
    margin-top: 12px;
  }
  .work-subtitle {
    font-size: 1.5rem;
    color: #777;
  }
  .work-explanation {
    border-top: 1px solid #cfcfcf;
    margin-top: 15px;
    font-size: 1.2rem;
    padding-top: 12px;
  }
}
.pk-modal-slides {
  border-bottom: 3px solid #000000;
}

.link-quit {
  margin: 20px 0 30px 0px;
  display: flex;
  justify-content: space-between;
  color: #232b2b;
}

#modal-quit {
  .btn {
    background-color: none;
  }
  a {
    margin-top: -10px;
  }
  :hover {
    -webkit-animation: buttonOut 0.3s;
    -moz-animation: buttonOut 0.3s;
    -ms-animation: buttonOut 0.3s;
    -o-animation: buttonOut 0.3s;
    animation: buttonOut 0.3s;
    // -webkit-animation: popperIn 0.45s;
    // -moz-animation: popperIn 0.45s;
    // -ms-animation: popperIn 0.45s;
    // -o-animation: popperIn 0.45s;
    // animation: popperIn 0.45s;
  }
}

@-webkit-keyframes buttonOut {
  0% {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.04);
  }
  40% {
    -webkit-transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1.08);
  }

  80% {
    -webkit-transform: scale(1.04);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes buttonOut {
  0% {
    -moz-transform: scale(1);
  }
  30% {
    -moz-transform: scale(1.04);
  }
  40% {
    -moz-transform: scale(1.08);
  }
  50% {
    -moz-transform: scale(1.1);
  }
  60% {
    -moz-transform: scale(1.08);
  }
  80% {
    -moz-transform: scale(1.04);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@keyframes buttonOut {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.04);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.08);
  }
  80% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
