.main-banner {
  min-height: 95vh;
  position: relative;
  overflow: hidden;
  display: flex;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  letter-spacing: 0.15em;
  .container-fluid {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    width: 100% !important;
    max-width: 142.2rem;
    .main-banner-row {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

.introduction.col-6 {
  align-self: center !important;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  .whoami {
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  .mynameis {
    font-family: serif;
    padding-top: 2vh;
    padding-bottom: 3rem;
    // font-size: 22.5vh;
    font-size: 12rem;
    font-weight: 900;
    line-height: 16.5vh;
    letter-spacing: -1rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: 80vw;
    z-index: 1;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(20deg, #ee0979 0, #ff6a00);
  }
}

.intro-image.col-6 {
  text-align-last: right !important;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  svg {
    position: relative;
    top: -1rem;
    width: auto;
    height: calc(100vh - 2.3rem);
    max-height: 130rem;
  }
}

.banner-image-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  // width: 55rem;
  right: 15vw;
  img {
    width: 90vw;
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .main-row-wrapper {
    max-width: 1140px;
  }
  .whoami {
    font-size: 1rem !important;
  }
  .mynameis {
    padding-top: 6vh !important;
    letter-spacing: -1.6rem !important;
    line-height: 8rem !important;
    max-width: 60vw;
    font-size: 10.5rem !important;
  }
}
@media (max-width: 1199px) {
  .whoami {
    font-size: 1rem !important;
  }
  .mynameis {
    padding-top: 4vh !important;
    width: 60vw !important;
    letter-spacing: -1.2rem !important;
    line-height: 6.2rem !important;
    font-size: 10rem !important;
  }
}

@media (min-width: 992px) {
  .main-row-wrapper {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .main-row-wrapper {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .main-row-wrapper {
    max-width: 540px;
  }
}

@media (max-width: 1370px) {
  .whoami {
    margin-bottom: 5rem;
  }
}
@media (max-width: 1290px) {
  .whoami {
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .mynameis {
    left: 0;
    // width: 100%;
  }
}
@media (max-width: 850px) {
  .whoami {
    padding-top: 5vh !important;
    font-size: 1rem !important;
  }
  .mynameis {
    padding-top: 5vh !important;
    padding-bottom: 10vh !important;
    max-width: 80vw;
    line-height: 5.6rem !important;
    letter-spacing: -1.3rem !important;
    // font-size: 13.5vh !important;
    font-size: 9.5rem !important;
  }
}
@media (max-width: 720px) {
  .main-banner .container-fluid {
    padding-left: 8vw !important;
    padding-right: 8vw !important;
  }
  .whoami {
    font-size: 1rem !important;
  }
  .mynameis {
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
    max-width: 80vw;
    line-height: 5.6rem !important;
    letter-spacing: -1.3rem !important;
    // font-size: 13.5vh !important;
    font-size: 9rem !important;
  }
  .banner-image-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    right: 18vw;
    img {
      width: 120vw;
      height: 100vh;
    }
  }
}

@media (min-width: 768px) {
  .main-banner .main-row-wrapper {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .main-banner .main-row-wrapper {
    max-width: 540px;
  }
}

@media (max-width: 425px) {
  .main-banner .container-fluid {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
  }
  .mynameis {
    padding-top: 4vh !important;
    padding-bottom: 4vh !important;
    width: 70vw !important;
    letter-spacing: -1.3rem !important;
    font-size: 6rem !important;
  }
}

@media (max-width: 374px) {
  .main-banner .container-fluid {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
  }
  .mynameis {
    width: 80vw !important;
    padding-top: 0 !important;
    letter-spacing: -1.3rem !important;
    font-size: 6rem !important;
  }
}
