.main-banner {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  letter-spacing: 0.15em;
  .container-fluid {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    width: 100% !important;
    max-width: 142.2rem;
    .main-banner-row {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

.textEffect {
  color: #235aa6;
}

.introduction.col-6 {
  align-self: center !important;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

  .whoami {
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
    padding-top: 4rem;
    margin-bottom: 1rem;
    // color: #101b3b;
    font-family: fantasy;
  }
  .mynameis {
    font-family: serif;
    padding-top: 2vh;
    padding-bottom: 3rem;
    // font-size: 22.5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11rem;
    font-weight: 900;
    // line-height: 16.5vh;
    // letter-spacing: -1rem;
    line-height: 7rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    left: 35%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(20deg, #ee0979 20%, #ff6a00);
  }
}

.intro-image.col-6 {
  text-align-last: right !important;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  // svg {
  //   position: relative;
  //   top: -1rem;
  //   width: auto;
  //   height: calc(100vh - 2.3rem);
  //   max-height: 130rem;
  // }
}

.banner-image-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  // width: 55rem;
  right: 5vw;
  // background-color: #101b3b;
  img {
    width: 50vw;
    height: 100vh;
  }
}
@media (min-width: 1600px) {
  .whoami {
    font-size: 1.3rem !important;
  }
  .mynameis {
    font-size: 13rem !important;
  }
}

@media (max-width: 1599px) {
  .main-row-wrapper {
    max-width: 1140px;
  }
  .whoami {
    font-size: 1rem !important;
    margin-bottom: 3rem !important;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
  .mynameis {
    padding-top: 6vh !important;
    letter-spacing: -0.8rem !important;
    line-height: 5rem !important;
    // max-width: 50vw;
    font-size: 8.5rem !important;
  }
}
@media (max-width: 1199px) {
  .whoami {
    font-size: 1rem !important;
  }
  .mynameis {
    padding-top: 4vh !important;
    left: 30% !important;
    // width: 50vw !important;
    // letter-spacing: -0.8rem !important;
    // line-height: 6.2rem !important;
    font-size: 8rem !important;
  }
}

@media (min-width: 992px) {
  .main-row-wrapper {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .main-row-wrapper {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .main-row-wrapper {
    max-width: 540px;
  }
}

@media (max-width: 1370px) {
  .whoami {
    margin-bottom: 5rem;
  }
}
@media (max-width: 1290px) {
  .whoami {
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .mynameis {
    left: 0;
    // width: 100%;
  }
}
@media (max-width: 900px) {
  .whoami {
    padding-top: 5vh !important;
    font-size: 1rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .mynameis {
    padding-top: 5vh !important;
    // padding-bottom: 10vh !important;
    width: 120% !important;
    left: 25% !important;
    // max-width: 80vw;
    // left: 30% !important;
    // line-height: 6rem !important;
    // letter-spacing: -0.2rem !important;
    // font-size: 13.5vh !important;
    font-size: 7.5rem !important;
  }
}
@media (max-width: 720px) {
  .main-banner .container-fluid {
    padding-left: 8vw !important;
    padding-right: 8vw !important;
  }
  .whoami {
    font-size: 1rem !important;
  }
  .mynameis {
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
    // max-width: 80vw;
    line-height: 5.6rem !important;
    letter-spacing: -1.3rem !important;
    // font-size: 13.5vh !important;
    font-size: 7.5rem !important;
  }
  .banner-image-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    right: 18vw;
    img {
      width: 80vw;
      height: 100vh;
    }
  }
}

@media (min-width: 768px) {
  .main-banner .main-row-wrapper {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .main-banner .main-row-wrapper {
    max-width: 540px;
  }
}

@media (max-width: 425px) {
  .main-banner .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .whoami {
    margin-left: 40% !important;
    width: 110% !important;
    font-size: 1.1rem !important;
    margin-top: 7rem !important;
    margin-bottom: 2rem !important;
  }
  .mynameis {
    padding-top: 4vh !important;
    padding-bottom: 4vh !important;
    // width: 70vw !important;
    left: 30% !important;
    width: 180% !important;
    letter-spacing: -1rem !important;
    font-size: 7rem !important;
  }

  .banner-image-wrapper {
    // height: 100%;
    // width: 100%;
    position: relative;
    // width: 55rem;
    right: 120%;
    bottom: 40%;
    // background-color: #101b3b;
    img {
      width: 160vh;
      height: 100vh;
    }
  }
}

@media (max-width: 375px) {
  .mynameis {
    font-size: 6rem !important;
  }

  .banner-image-wrapper {
    right: 160%;
    bottom: 40%;
  }
}
