// #self-introduction {
//   @media (max-width: 575px) {
//     padding-top: 2rem;
//   }
//   @media (max-width: 1290px) {
//     margin-bottom: 0;
//   }
//   @media (max-width: 1370px) {
//     margin-bottom: 5rem;
//   }
//   position: relative;
//   z-index: 1;
//   padding-top: 5rem;

//   ::before {
//     position: absolute;
//     content: '';
//     left: 0;
//     top: 0;
//     height: 0.1rem;
//     width: 7rem;
//     background-image: linear-gradient(0deg, #ee0979 0, #ff6a00);
//     box-sizing: inherit;
//   }
// }

// #nameAsTitle {
//   z-index: 1;
//   position: relative;
//   font-family: Butler;
//   font-size: 20.5vh;
//   font-weight: 900;
//   line-height: 12.5vh;
//   letter-spacing: -1rem;
//   color: transparent;
//   -webkit-background-clip: text;
//   background-clip: text;
//   width: 76rem;
//   transform: translate3d(0, 0, 0);
//   animation: b 20s infinite linear;
//   background-image: linear-gradient(0deg, #ee0979 0, #ff6a00);
//   @media (min-width: 400px) {
//     width: 40rem;
//     font-size: 14vh;
//   }
//   @media (min-width: 575px) {
//     width: 45rem;
//     font-size: 15vh;
//   }
//   @media (min-width: 767px) {
//     width: 50rem;
//     font-size: 16vh;
//   }
//   @media (min-width: 1023px) {
//     width: 65rem;
//     font-size: 17vh;
//   }
//   @media (min-width: 1290px) {
//     width: 70rem;
//     font-size: 20vh;
//   }
//   @media (min-width: 1370px) {
//     width: 75rem;
//     font-size: 22vh;
//   }
//   height: auto;
//   display: inline-block;
// }

// .home .hero-section #dots-container {
//   position: absolute;
//   left: 0;
//   top: 0;
//   z-index: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
// }

.main-banner {
  height: 90vh;
}

.whoami {
  position: relative;
  z-index: 1;
  padding-top: 5rem;
  margin-bottom: 12rem;
}
.whoami:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 0.1rem;
  width: 7rem;
}
.whoami p {
  font-size: 1.2rem;
  margin: 0;
  display: inline;
  font-weight: 400;
}
.name {
  z-index: 1;
  position: relative;
  left: 11rem;
  font-family: Butler;
  padding-top: 5rem;
  font-size: 20.5vh;
  font-weight: 900;
  line-height: 12.5vh;
  letter-spacing: -1rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  width: 76rem;
  transform: translate3D(0, 0, 0);
  animation: b 20s infinite linear;
}
.name {
  width: 76rem;
  height: auto;
  display: inline-block;
}
.home .hero-section .face svg {
  position: relative;
  top: -1rem;
  width: auto;
  height: calc(100vh - 2.3rem);
  max-height: 130rem;
}
.home .hero-section .face svg #end {
  visibility: hidden;
}
.home .scroll-wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

@media (max-width: 1370px) {
  .whoami {
    margin-bottom: 5rem;
  }
  .name {
    width: 50rem;
  }
}
@media (max-width: 1290px) {
  .whoami {
    margin-bottom: 0;
  }
  .name {
    width: 50rem;
  }
}
@media (max-width: 1199px) {
  .name {
    left: 0;
  }
}
@media (max-width: 1023px) {
  .name {
    width: 50rem;
  }
}
@media (max-width: 767px) {
  .name {
    // width: auto;
    width: 70vw;
  }
  .whoami:before {
    content: none;
  }
}
@media (max-width: 575px) {
  .site-header {
    padding-bottom: 2rem;
  }
  .whoami,
  .site-header {
    padding-top: 2rem;
  }
}
@media (max-width: 400px) {
  .container,
  .container-fluid,
  .site-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .name {
    padding-top: 3rem;
  }
  .h4 {
    font-size: 3rem;
    line-height: 3.7rem;
  }
}

.name,
// .whoami:before,
.site-header .main-navigation a:after {
  background-image: linear-gradient(0deg, #ee0979 0, #ff6a00);
}
