#image-stack {
  padding-top: 2%;
  padding-bottom: 2%;
}

#content-about {
  min-height: 50vh;
  font: bold 14px/1.4 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  letter-spacing: 0.15em;
  #content-about-title {
    padding: 10px;
    padding-top: 5rem;
    font-size: large;
  }
  #image-stack {
    padding-left: 6%;
    padding-right: 6%;
  }
}

.about-me .header {
  height: 23rem;
}
.about-me .about-content {
  font: bold 14px/1.4 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  width: fit-content;
  padding: 0rem !important;
  background-color: hsla(0, 0%, 98%, 0.98);
  .profile-wrapper {
    height: 60%;
    .profile-detail {
      padding-top: 5%;
      padding-left: 6%;
      padding-right: 6%;
      padding-bottom: 5%;
      height: 100%;
      .profile-location {
        display: flex;
        align-items: center;
        height: 15%;
        color: darkslateblue;
        font-size: small;

        i {
          font-size: small;
        }
      }
      .profile-name {
        height: 20%;
        font-size: x-large;
        font-weight: bold;
        text-decoration-line: underline;
      }
      .profile-title {
        height: 15%;
        font-size: smaller;
        color: #353b50;
        font-style: italic;
      }
      .profile-summary {
        height: 50%;
        letter-spacing: 0.05em;
      }
    }
  }
  .icons.row {
    margin-left: 0 !important;
    margin-bottom: 0;
  }
  .icon-wrapper {
    height: 40%;
  }
}
.icon-wrapper {
  .icons.row {
    padding-left: 0 !important;
    height: 50%;
    .program-icon.col.s2.non-real {
      width: 0 !important;
      height: 100%;
    }
    .program-icon.col.s2.real {
      width: 20% !important;
      height: 100%;
    }
  }
}
.icon-explain-wrapper {
  padding: 3%;
  #icon-explain {
    text-align: center;
    #icon-explain-span {
      font-size: 15px;
      letter-spacing: -0.1em;
      font-family: monospace;
    }
  }
}

.textEffect-1 {
  color: #ee094e;
}

.about-content.back-image {
  height: 22.9rem;
  position: relative;
  z-index: -2;
}

.profile-side-image {
  height: 100%;
  width: 160%;
}
.program-icon.col.s2 {
  margin-left: 0 !important;
}

.program-icon a.icon {
  width: 100%;
  height: 100%;
}

.program-icon a.icon svg,
.program-icon a.icon img {
  width: 3.5rem;
  height: 3.5rem;
  filter: url(/public/images/about/icons/filter.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
  -webkit-transition: all 0.15s;
}

.program-icon a.icon svg:hover,
.program-icon a.icon img:hover {
  filter: grayscale(0) contrast(175%) brightness(103%);
  -webkit-filter: grayscale(0) contrast(160%) brightness(103%);
}

@media screen and (min-width: 1441px) {
  .about-content.header {
    height: 40rem !important;
  }
  .about-content.back-image {
    height: 40rem !important;
  }
  .row.about-me {
    padding: 5rem;
  }
  #content-about-title {
    font-size: xx-large !important;
  }
  .about-me .about-content {
    .profile-wrapper {
      .profile-detail {
        padding-left: 8%;
        padding-right: 8%;
        .profile-location {
          font-size: x-large;
          i {
            font-size: larger;
          }
        }
        .profile-name {
          font-size: xxx-large;
        }
        .profile-title {
          font-size: x-large;
        }
        .profile-summary {
          font-size: xx-large;
        }
      }
    }
  }
  .about-content.back-image {
    right: 30% !important;
  }
  .icon-explain-wrapper {
    padding: 4%;
    #icon-explain {
      #icon-explain-span {
        font-size: large;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .row.about-me {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .about-me .about-content {
    .profile-wrapper {
      .profile-detail {
        .profile-location {
          font-size: 12px;
          i {
            font-size: 12px;
          }
        }
        .profile-name {
          font-size: 28px;
        }
        .profile-title {
          font-size: 14px;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
        .profile-summary {
          font-size: 14px;
        }
      }
    }
  }
  .about-content.back-image {
    right: 30% !important;
  }
}

@media screen and (max-width: 1024px) {
  .about-me .about-content {
    .profile-wrapper {
      .profile-detail {
        padding: 6% !important;
        .profile-location {
          font-size: 11px;
          i {
            font-size: 11px;
          }
        }
        .profile-name {
          font-size: 23px;
        }
        .profile-title {
          font-size: 11px;
        }
        .profile-summary {
          font-size: 12px;
        }
      }
    }
  }
  .icon-explain-wrapper {
    padding: 4%;
    #icon-explain {
      #icon-explain-span {
        font-size: small;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #image-stack {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .about-me .about-content {
    .profile-wrapper {
      .profile-detail {
        padding: 8% !important;
        .profile-location {
          font-size: 11px;
          i {
            font-size: 11px;
          }
        }
        .profile-name {
          font-size: 18px;
        }
        .profile-title {
          font-size: 10px;
        }
        .profile-summary {
          font-size: 11px;
        }
      }
    }
  }
  #icon-explain-span {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 600px) {
  .row.about-me {
    padding: 0 !important;
  }
  #image-stack {
    padding-left: 0;
    padding-right: 0;
  }
  .about-me .about-content {
    height: 28rem;
    .profile-wrapper {
      padding: 3%;
      .profile-detail {
        padding: 0 !important;
        .profile-location {
          font-size: x-small;
          i {
            font-size: x-small;
          }
        }
        .profile-name {
          font-size: 22px;
        }
        .profile-title {
          font-size: 11px;
        }
        .profile-summary {
          font-size: 14px;
        }
      }
    }
    .icon-wrapper {
      .icons.row {
        padding-left: 8%;
        // margin-bottom: 0 !important;
      }
    }
  }
  .about-content.back-image {
    position: inherit;
    height: 80%;
    z-index: -2;
  }

  .profile-side-image {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .about-content.back-image {
    height: 35vh !important;
  }
  .about-me .about-content {
    height: 28rem;
    .profile-wrapper {
      .profile-detail {
        .profile-location {
          font-size: x-small;
          i {
            font-size: x-small;
          }
        }
        .profile-name {
          font-size: 25px;
        }
        .profile-title {
          font-size: 13px;
        }
        .profile-summary {
          font-size: 15px;
        }
      }
    }
    #react-icon svg {
      margin-left: 0 !important;
    }
  }
  .icon-wrapper {
    .icons.row {
      padding-left: 0 !important;
      .program-icon.col.s2.non-real {
        width: 0 !important;
      }
      .program-icon.col.s2.real {
        width: 20% !important;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .about-me .about-content .icon-wrapper {
    padding: 2%;
  }
  .about-me .about-content {
    height: 26rem;
    .profile-wrapper {
      .profile-detail {
        .profile-location {
          font-size: x-small;
          i {
            font-size: x-small;
          }
        }
        .profile-name {
          font-size: 24px;
        }
        .profile-title {
          font-size: 12px;
        }
        .profile-summary {
          font-size: 13px;
        }
      }
    }
  }
  .about-content.back-image {
    height: 70%;
    z-index: -2;
  }
}

@media screen and (max-width: 325px) {
  .about-content.back-image {
    height: 28vh !important;
  }
  .about-me .about-content .icon-wrapper {
    padding: 2%;
  }
  .about-me .about-content {
    height: 25rem;
  }
  .about-content.back-image {
    height: 70%;
    z-index: -2;
  }
  .profile-detail {
    .profile-location {
      font-size: 11px;
      i {
        font-size: 11px;
      }
    }
    .profile-name {
      font-size: 22px;
    }
    .profile-title {
      font-size: 11px;
    }
    .profile-summary {
      font-size: 12px;
    }
  }
}
