#content-about-body {
  // box-shadow: 6.5rem 2.5rem 5rem 0.7rem rgba(0, 0, 0, 0.13);
}

#content-about {
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  letter-spacing: 0.15em;
  // margin-bottom: 3rem;
  // min-height: 24rem;
  #content-about-title {
    padding: 10px;
    font-size: large;
  }
  #image-stack {
    padding-left: 6%;
    padding-right: 6%;
    // opacity: 0.2;
    // background-image: linear-gradient(
    //   45deg,
    //   #fff,
    //   #ff6a00,
    //   #ee0979,
    //   #ff6a00,
    //   #fff
    // );
  }
}

$background-color: linear-gradient(270deg, #235aa6, #101b3b);

.about-me .about-content {
  width: fit-content;
  padding: 0rem !important;
  // background-color: $background-color;
  background-color: hsla(0, 0%, 95%, 0.97);
  .profile-wrapper {
    padding: 5%;
  }
}

.about-content.back-image {
  position: relative;
  right: 30% !important;
  z-index: -2;
}

.profile-side-image {
  height: 100%;
  width: 160%;
}

.program-icon a.icon {
  width: 100%;
  height: 100%;
}

.program-icon a.icon svg,
.program-icon a.icon img {
  filter: url(/public/images/about-icons/filter.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
  -webkit-transition: all 0.15s;
}

.program-icon a.icon svg:hover,
.program-icon a.icon img:hover {
  filter: grayscale(0) contrast(175%) brightness(103%);
  -webkit-filter: grayscale(0) contrast(160%) brightness(103%);
}
