#content-blog {
  min-height: 100vh;
  font: bold 14px/1.4 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  letter-spacing: 0.15em;
  min-height: 24rem;
  #content-blog-title {
    padding-top: 5rem !important;
    padding: 10px;
    font-size: large;
  }
}

@media screen and (min-width: 1441px) {
  #content-blog-title {
    font-size: xx-large !important;
  }
  #content-blog-body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1440px) {
  #content-blog-body {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1050px) {
  #content-blog-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 800px) {
  #content-blog-body {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
