#content-blog {
  min-height: 100vh;
  font: bold 14px/1.4 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  letter-spacing: 0.15em;
  // margin-bottom: 3rem;
  min-height: 24rem;
  #content-blog-title {
    padding-top: 5rem !important;
    padding: 10px;
    font-size: large;
  }
}

@media screen and (min-width: 1441px) {
  #content-blog-title {
    font-size: xx-large !important;
  }
}
