#content-blog {
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 4rem;
  min-height: 24rem;
  #content-blog-title {
    padding: 10px;
    font-size: large;
  }
}
