#content-portfolio {
  min-height: 100vh;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 1rem;
  min-height: 24rem;
  #content-portfolio-title {
    padding: 10px;
    font-size: large;
  }
  #content-portfolio-body {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1441px) {
  #content-portfolio-title {
    font-size: xx-large !important;
  }
}
