#content-portfolio {
  min-height: 100vh;
  font: bold 14px/1.4 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 1rem;
  min-height: 24rem;
  #content-portfolio-title {
    padding-top: 5rem !important;
    padding: 10px;
    font-size: large;
  }
  #content-portfolio-body {
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1441px) {
  #content-portfolio-title {
    font-size: xx-large !important;
  }
}
