.single-post {
  margin: 2rem 0 2rem 0;
  color: #000;
  .card {
    box-shadow: none;
    // padding: 0 5rem;
    // height: 15rem;
    .card-image {
      height: 16rem;
      // box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.08);
    }
    .card-title {
      height: 4.5rem;
      font-size: 1.4rem;
      font-weight: bolder;
      opacity: 0.6;
      padding: 10px 0;
    }
    .card-date {
      font-size: small;
      font-weight: 300;
      font-stretch: extra-expanded;
      letter-spacing: 0.25em;
    }
    .card-body {
      margin-top: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.2em;
      opacity: 0.8;
    }
    .card-link {
      text-decoration: none;
      color: inherit;
      font-size: smaller;
      font-weight: 500;
      opacity: 0.8;
      margin-top: 1.6rem;
    }
  }
}
@media screen and (min-width: 1800px) {
  .single-post .card .card-image {
    height: 25rem;
  }
}

@media screen and (max-width: 1024px) {
  .single-post .card .card-image {
    height: 12rem;
  }
}

@media screen and (max-width: 768px) {
  .card-title {
    height: 5rem;
  }
  .card-date {
    margin-top: 2rem;
  }
  .card-body {
    max-height: 7.5rem;
  }
}
@media screen and (max-width: 425px) {
  .single-post .card .card-image {
    height: 16rem;
  }
  .card-title {
    max-height: 4rem;
  }
  .card-date {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .card-title {
    max-height: 5rem;
  }
}
@media screen and (max-width: 320px) {
}

$underlineColor: linear-gradient(90deg, #1e9afe, #60dfcd);

.underline-effect-2 {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 10px 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-image: $underlineColor;
    z-index: 2;
    height: 8%;
  }

  &::before {
    width: 0%;
    left: 0;
    bottom: 0;
    transition: width ease 0.4s;
  }

  &::after {
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all ease 0.6s;
  }
}

.cta {
  text-decoration: none;
  color: inherit;
  position: relative;
  margin: auto;
  padding: 15px 10px;
  transition: all 0.2s ease;
}
.cta:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: $underlineColor;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: $underlineColor;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}

.single-post.disactive > * {
  opacity: 0.5;
}
.single-post.active .card-title {
  color: #00b7ff;
}
