#page-footer {
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  letter-spacing: 0.15em;
  .divider {
    margin: 0rem 3rem !important;
  }
  .footer {
    margin: 3.5rem 1rem 1.5rem 1rem;
  }
  #copyright {
    padding: 15px 0px;
    font-weight: lighter;
    font-size: smaller;
    text-transform: uppercase;
    opacity: 0.8;
    i {
      font-size: 11px;
    }
  }
  .footer-image {
    width: 100vw;
    height: 4.5rem;
    background-image: url(/images/footer/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
