// #social-icons {
//   display: flex;
//   justify-content: flex-end;

//   li {
//     display: inline;
//     margin-left: 22px;
//     color: #000;
//   }
//   li:hover {
//     opacity: 0.2;
//   }
// }

#social-icons {
  margin: 0;
  font-size: smaller;
  font-weight: lighter;
  //   font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  display: flex;
  justify-content: flex-end;

  ul {
    padding: 0;
    list-style: none;
  }
  li {
    display: inline;
    position: relative;
  }
  a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    position: relative;
    opacity: 0.8;
  }
  a:hover {
    opacity: 1;
    color: #ee0979;
  }
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background-image: linear-gradient(90deg, #ee0979 0, #ff6a00);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 996px) {
  // #social-icons-wrappper,
  // #copyright-wrapper {
  //   width: 100%;
  // }
  #social-icons {
    justify-content: center;
  }
  #social-icons a {
    text-align: center;
  }
  #copyright {
    text-align: center;
  }
}

// @media screen and (max-width: 768px) {
//   #copyright {
//     text-align: center;
//   }
// }

// @media screen and (max-width: 425px) {
//   #social-icons {
//     margin-right: 10px;
//   }
//   #social-icons a {
//     width: 100%;
//     text-align: center;
//   }
// }
